* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
body {
  text-align: center;
  padding: 2rem;
}
::selection {
  background-color: transparent;
}
h1 {
  font-size: 1.75rem;
  line-height: 2;
  text-align: center;
  width: 100%;
}
div.game {
  width: 600px;
  height: 600px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  padding: 0.5rem;
}
div.game section {
  display: block;
  float: left;
  width: calc((100% - 4rem) / 4);
  height: calc((100% - 4rem) / 4);
  margin: 0.5rem;
  background: black;
  transition: color 0.15s, background-color 0.15s;
  text-align: center;
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  cursor: default;
  font-size: 0.875rem;
  font-weight: 600;
  color: transparent;
  line-height: 1.5;
  word-wrap: break-word;
}
div.game section.select {
  background: #555;
}
div.game section.paired {
  background: #27ae60;
}
div.game section.select, div.game section.paired {
  color: white;
}
